name: Checks

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

defaults:
  run:
    shell: bash

env:
  GO_VERSION: "1.20.4"
  GOLANG_CI_VERSION: v1.52.2

jobs:
  lint:
    name: Lint files
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false
      - uses: actions/checkout@v5
      - name: lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: ${{ env.GOLANG_CI_VERSION }}