name: Release

on:
  release:
    types: 
      - created

env:
  GO_VERSION: "1.20.4"

jobs:
  publish:
    if: startsWith(github.ref, 'refs/tags/v') == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          check-latest: true
      - name: Checkout
        uses: actions/checkout@v6
      - id: set_version
        run: |
          VERSION=$(echo $GITHUB_REF | sed -nE 's!refs/tags/!!p')
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
      - name: Generate release artifacts
        run: |
          make release VERSION=${{ steps.set_version.outputs.version }}
      - name: Save release artifacts
        uses: softprops/action-gh-release@v2
        with:
          files: release/*